body {

  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #000;
}

.logo {
  min-height: 40px;
}

.campaign-logo {
  display: flex;
  justify-content: center;
  background-color: black;
}

.slogan-text {
  color: white;
  margin: 0;
  font-size: 45px;
}

.actions {
  margin: 0 auto;
  min-width: 800px;
  max-width: 1000px;
  overflow: hidden;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

.action {
  width: 25%;
}

.imgAction1, .imgAction3, .imgAction2, .imgAction4,  .imgAction1Toggled, .imgAction2Toggled,  .imgAction3Toggled,  .imgAction4Toggled {
  cursor: pointer;
}

.video {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.carbon-count-video {
  position: absolute;
  align-self: center;
}

.count-text-wrap {
  display: flex;
  flex-direction: column;
}

.carbon-count-text {
  margin: 0 auto;
  font-size: 40px;
  line-height: 36px;
  color: white;
  text-shadow: 3px 3px #000000;
}

.carbon-count-desc {
  margin: 0 auto;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 1px #000000;

}

.subtitle-wrap {
  display: flex;
  justify-content: center;
  padding: 30px 0 30px 0;
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  background-color: black;
}

.subtitle {
  color: white;
}

.join-challenge-wrap {

  color: white;
  display: flex;
  justify-content: center;
  background-color: #93AF5F;
  padding: -2px;
  font-weight: 600;
  font-size: 24px;
  line-height: 24p;
  margin-bottom: 20px;
  max-width: 998px;
  margin: 0 auto 20px auto;
}

.parrafos-wrap {
  display: flex;
  justify-content: space-between;
}

.parrafo-1, .parrafo-2 {
  margin: 0 30px 30px 30px;
  padding: 20px;
  width: 100%;
  line-height: 40px;
  font-size: 21px;
}

.action1Counter {
  grid-column-start: counter;
  padding: 15px;
  font-weight: bold;
  font-size: 1.2em;
}

.counter-wrapper {
  width: 100%;
  height: 10%;
  background-color: white;
  display:none;
  justify-content: center;
  align-items: center;
  position:fixed;
  grid-template-columns: auto [counter] 45% auto;
  top: 0;
  border: 3px solid rgb(198, 196, 196)
}

/* .count-text-wrap {
  display:  flex;
  flex-direction: column;
} */

.button-div {
  display: flex;
  justify-content: center;
}

.sign-button {
  width: 50%;
  height: 10%;
  background-color: black;
  color: white;
  font-size: 1.2em;
  bottom: 0;
  position:fixed;
  display: none;
  cursor: pointer;
}

.sign-button:hover {
  background-color: rgb(31, 31, 31)
}


/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* .footer {
  height: 100px;
  background-color: black;
  bottom: -400px;
  position: relative;
} */

/* ************Action button slider*************** */

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The switch - the box around the slider */
.switch {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  bottom: -270px;
  right: 15px;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* **************end of button  ***************/


/* position the checkbox button */
.checkbox-wrap {
  position: relative;
}

